html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}

      #feed{
  background-color:yellow;  
    
    
}

.post{
 background-color:green;  
 width:100%;
 border:.4em solid black;
 height:150px;
    
    
}

.icon{
border:.4em solid red;  
height:90px;
width:90px;
background-color:white;
    
}

.makin-post{
    height: 150px;
}

.add-hei{
    padding-top: 10px;
    