/*html,body{*/
/*   height: 100%;*/
/*   width: 100%;*/

/*   margin: 0;*/
/*   padding: 0;*/

/*   font-size: 62.5%;*/
/*   box-sizing: border-box;*/
/*}*/

/*#reactiveNav{*/
/*   text-align: center;*/
   /*height: 5rem;*/
/*}*/

/*#navSection1,#navSection2,#navSection3{*/
/*   text-align: center;*/
   /*height: 4rem;*/
/*}*/

html,body{
    height: 100%;
    width: 100%;

    margin: 0;
    padding: 0;

    font-size: 62.5%;
    box-sizing: border-box;
}

.banner{
    height: 100px
}

.logo{
    background-color: red;
    margin: 0;
    padding: 0;
}

header{
    height: 150px
}

.downess{
    position: relative;
    top: 40px;
}

.hdr{
    background-color: blue;
    text-align: center;
    margin: 0;
    padding: 0;
}

#reactiveNav{
    /*height: 5rem;*/
}

#navSection1,#navSection2,#navSection3{
    text-align: center;
    /*height: 4rem;*/
}

/*.makin-post{*/
    /*height: 150px;*/
    /*border: 1px solid black;*/
/*}*/

/*.add-hei{*/
    /*padding-top: 10px;*/
    /*height: 100px;*/
/*}*/

#feed{
    background-color:yellow;


}

.post{
    background-color:green;
    /*width:100%;*/
    border:.4em solid black;
    height:150px;


}

.icon{
    border:.4em solid red;
    height:90px;
    width:90px;
    background-color:white;

}

footer{
    height: 20%;
    width: 100%;
    color: white;
}
