 body{
   background-color:yellow;  
     
 }
 
 
 
 .banner{
        height: 100px
        }
        
        .logo{
          background-color: red;
         height: 150px;
        }
        
        header{
        height: 150px
        }
        
        .downess{
        position: relative;
        top: 40px;
        }
        
        .hdr{
        background-color: blue;
        text-align: center;
        }
        
.post{
 background-color:green;  
 width:100%;
 border:.4em solid black;

    
    
}

.comment{
 width:100%;
 border:.4em solid black;
 background-color:blue;
    
}

.icon{
border:.4em solid red;  
height:90px;
width:90px;
background-color:white;
    
}