html,
body{
    height: 100%;
    width: 100%;
    
    font-size: 16px;
    
    margin: 0;
    padding: 0;
    
    box-sizing: inherit;
}

header{
    height: 150px;
}

.banner{
    height: 100px;
}

.downess{
    position: relative;
    top: 40px;
}

.navbar-static-top{
    text-align: right;
}
ul, li{
list-style-type: none;  
float: none;
}

.mar{
    margin: 0;
    padding: 0;
}

.logo{
    background-color: red;
    height: 150px;
}

.pro-pic{
    margin-left: 20px;
    margin-bottom: 10px;
    height: 50px;
    width: 50px;
}

.usrnm{
    margin-left: 20px;
}

.hdr{
    background-color: blue;
    text-align: center;
}

.post{
    border: 3px black solid;
    margin-top: 10px;
    
}

.row{
    margin: 0;
}

.spc{
    margin-top: 10px;
    margin-bottom: 10px;
}

.ratings{
    text-align: right;
}

.makin-post{
    height: 150px;
}

.add-hei{
    padding-top: 10px;
    height: 100px;
}