 
 <div class='container-fluid'  ng-app='post' ng-controller='AdminController'>
     <div class="row">
         <div class="col-sm-4">
             <div class='row'>
                 <div class="col-sm-6">App Logo</div>
                 <div class="col-sm-6">App Title</div>
             </div>
         </div>
         <div class="col-sm-4">Banner</div>
         <div class="col-sm-4">
             <div class='row'>
                 <div class="col-sm-8">Profile Pic</div>
                 <div class="col-sm-8">Admin user & status</div>
             </div>
         </div>
     </div>
     <div class='row'>
         <div class="col-sm-8">Calendar</div>
         <div class="col-sm-8">Go-to (for calendar)</div>
     </div>
     <div class='row'>
         <ul class='nav nav-tabs'>
           <li role="presentation" class='active'><a href='#'>Phone statics</a></li>
           <li role="presentation"><a href='#'>Computer statics</a></li>
           <li role="presentation"><a href='#'>Total statics</a></li>
           <li role="presentation"><a href='#'>Etc.</a></li>
       </ul>
     </div>
     <div class='row'>
         <div class='col-sm-12'>Statics</div>
     </div>
     <div class='row'>
         <div class="col-sm-6">Empty</div>
         <div class="col-sm-6">
              <ul class='nav nav-tabs'>
                   <li role="presentation" class='active'><a href='#'>Today</a></li>
                   <li role="presentation"><a href='#'>Yesterday</a></li>
                   <li role="presentation"><a href='#'>Two days ago</a></li>
                   <li role="presentation"><a href='#'>Etc.</a></li>
               </ul>
         </div>
     </div>
     <div class='row'>
        <div class='col-sm-6'>    
            <p><h1> Your Feed</h1></p>
            <div class='post' ng-repeat='post in admin'>
                <div class='icon'></div>
                <p>{{post.text}}</p>
                <hr>
                <hr>
                <button class="btn btn-default">Acknowledged</button>
                <button class="btn btn-default">Like</button>
                <button class="btn btn-default">Dislike</button>
                <button class="btn btn-default">Comment</button>
            </div>    
        </div>
        <div class='col-sm-6'>
             <p><h1> Others Feed</h1></p>
            <div class='post' ng-repeat='post in admin'>
                <div class='icon'></div>
                <p>{{post.text}}</p>
                <hr>
                <hr>
                <button class="btn btn-default">Acknowledged</button>
                <button class="btn btn-default">Like</button>
                <button class="btn btn-default">Dislike</button>
                <button class="btn btn-default">Comment</button>
            </div>
        </div>
     </div>
     <div class='row'>
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <div>
            <input class="col-md-10" type="text" placeholder="DUMP DUMP DUMP"/>
          </div>
          <div class="row">
            <div class="col-md-10"></div>
            <div class="col-md-1">
              <p>(5/7)</p>
              </div>
            <div class="col-md-1">
              <button>
                submit
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-4"></div>
      </div>