<!--user interface "visual" for admin tab-->

 <div class='container-fluid'>
     <div class="row">
         <div class="col-sm-4">
             <div class='row'>
                 <div class="col-sm-6">App Logo</div>
                 <div class="col-sm-6">App Title</div>
             </div>
         </div>
         <div class="col-sm-4">Banner</div>
         <div class="col-sm-4">
             <div class='row'>
                 <div class="col-sm-8">Profile Pic</div>
                 <div class="col-sm-8">Admin user & status</div>
             </div>
         </div>
     </div>
     <div class='row'>
         <div class="col-sm-8">Calendar</div>
         <div class="col-sm-8">Go-to (for calendar)</div>
     </div>
     <div class='row'>
         <ul class='nav nav-tabs'>
           <li role="presentation" class='active'><a href='#'>Phone statics</a></li>
           <li role="presentation"><a href='#'>Computer statics</a></li>
           <li role="presentation"><a href='#'>Total statics</a></li>
           <li role="presentation"><a href='#'>Etc.</a></li>
       </ul>
     </div>
     <div class='row'>
         <div class='col-sm-12'>Statics</div>
     </div>
     <div class='row'>
         <div class="col-sm-6">Empty</div>
         <div class="col-sm-6">
              <ul class='nav nav-tabs'>
                   <li role="presentation" class='active'><a href='#'>Today</a></li>
                   <li role="presentation"><a href='#'>Yesterday</a></li>
                   <li role="presentation"><a href='#'>Two days ago</a></li>
                   <li role="presentation"><a href='#'>Etc.</a></li>
               </ul>
         </div>
     </div>
     <div class='row'>
        <div class='col-sm-6'>
            <div id='PostArea'>
                <br>
                <button class='btn btn-primary' type="button" ng-click="custom=!custom">POST</button>
                <br><br>
                <span ng-hide="!custom">
                    <textarea type="text" id="from" cols='30' rows='6'></textarea>
                </span>
                <br>
                <button class='btn btn-default' type='button' ng-hide="!custom" ng-click="custom=!custom">Submit</button>
                <hr ng-hide="!custom">
                <hr ng-hide="!custom">
            </div>    
            <p><h1> Your Feed</h1></p>
            <div class='post' ng-repeat='post in AdminCtrl.admin'>
                <div class='icon'></div>
                <p>{{post.text}}</p>
                <hr>
                    <div ng-show='response' ng-repeat='analytics in AdminCtrl.response'>
                        <button class="btn btn-default">{{analytics.acknowledge}} Acknowledged</button>
                        <button class="btn btn-default">{{analytics.like}} Like</button>
                        <button class="btn btn-default">{{analytics.dislike}} Dislike</button>
                        <button class="btn btn-default">{{analytics.comment}} Comment</button>
                    </div>    
                <hr>
            </div>    
        </div>
        <div class='col-sm-6'>
             <p><h1> Others Feed</h1></p>
            <div class='post' ng-repeat='post in AdminCtrl.admin'>
                <div class='icon'></div>
                <p>{{post.text}}</p>
                <hr>
                    <div ng-show='response' ng-repeat='analytics in AdminCtrl.response'>
                        <button class="btn btn-default">{{analytics.acknowledge}} Acknowledged</button>
                        <button class="btn btn-default">{{analytics.like}} Like</button>
                        <button class="btn btn-default">{{analytics.dislike}} Dislike</button>
                        <button class="btn btn-default">{{analytics.comment}} Comment</button> 
                    </div>
                <hr>
            </div>
        </div>
     </div>