<div role="navigation" id="reactiveNav" class="navbar navbar-default navbar-fixed-bottom">
    <ul class="nav">
        <li>
            <div  role="presentation" id="navSection1" class="nav col-xs-4 text-center">
                <h5>VOTE ON THE NEXT TOPIC</h5>

                <div ng-repeat='option in eDebateCtrl.pickTwo' class="input-group-btn">
                    <button id="optOne" class="btn btn-default" type="button">{{option.optnOne}} {{option.optnTwo}}</button>
                </div>

            </div>
        </li>

        <li>
            <div ng-repeat="topic in eDebateCtrl.navigation" id="navSection2" class="nav col-xs-4 text-center">
                <h5>Current Topic:</h5>
                <h3>{{topic.current}}</h3>
            </div>
        </li>

        <li>
            <div id="navSection3" class="nav col-xs-4 text-center">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="suggest a topic">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="button">submit</button>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>




<div class="postArea" style='padding-bottom: 70px;'>
    <h1>eDebate</h1>
    
    
    <!--post button area-->
    
    <!--get rid of ng-hide stuff for testing purposes-->
    
    <div style="border-bottom:1px solid grey; margin-bottom:1%;">
        <div style="text-align:center;" id='PostArea'>
            <br>
            <!--<button class='btn btn-primary' type="button">POST</button> <!--ng-click="custom=!custom"-->-->
            <br><br>
            
            <form ng-submit="eDebateCtrl.addPost()" class='form-group'>
                <span> <!--ng-hide="!custom"--> 
                    <textarea class="form-control" rows='6' ng-model="text" placeholder="write something interesting"></textarea>
                </span>
                <br>
                <button class='form-control' type='submit' ng-click="custom=!custom">Submit</button> <!--ng-hide="!custom" -->
            </form>
        </div>
    </div>
    
    <!--preloaded stories-->
    <div ng-repeat='post in eDebateCtrl.feed' class='post'>
        <img style:'border:1px solid black;' src="{{post.profilePic}}" alt='User Profile'/>
        <p>{{post.text}}</p>
        
        <hr>
            <div ng-show='response' ng-repeat="analytics in eDebateCtrl.response | orderBy:'' ">
                <span>{{analytics.like}} people liked,
                {{analytics.acknowledge}} people acknowledged,
                {{analytics.dislike}} people disliked,
                {{analytics.comment}} comments</span>
            </div>
        <hr>
        <button class="btn btn-default">like</button>
        <button class="btn btn-default">acknowledge</button>
        <button class="btn btn-default">dislike</button>
        <button class="btn btn-default">comment</button>
    </div>
</div>