<!--user interface "visual" for feed tab-->

<div>
    <h1>FEED</h1>
         <div id='PostArea'>
        <br>
         <button class='btn btn-primary' type="button" ng-click="custom=!custom">POST</button>
         <br><br>
          <span ng-hide="!custom">
         <textarea type="text" id="from" cols='30' rows='6'></textarea>
         </span>
         <br>
         <button class='btn btn-default' type='button' ng-hide="!custom" ng-click="custom=!custom">Submit</button>
         <hr ng-hide="!custom">
         <hr ng-hide="!custom">
       </div>
        <div ng-repeat="post in FeedCtrl.feed" class="post">
            <div class="icon"></div>
            <p>{{post.text}}</p>
            <hr>
            <hr>
            <button class="btn btn-default">like</button>
            <button class="btn btn-default">acknowledge</button>
            <button class="btn btn-default">dislike</button>
            <button class="btn btn-default">comment</button>
        </div>
</div>