<!--user interface "visual" for terms and agreements tab (located via link in initial signup tab-->

<div class='container-fluid'>
 <div class='row' ng-repeat='ads in TermsCtrl.terms'>
  <div class='col-md-4' id='ads' >{{ads.text}}</div> 
  <div class="col-md-4">{{ads.text}}</div>
  <div class="col-md-4">{{ads.text}}</div>
 </div>
 <hr>
 <div class='row' ng-repeat='ads in TermsCtrl.terms'>
  <div class='col-md-4' id='ads' >{{ads.text}}</div> 
  <div class="col-md-4">{{ads.text}}</div>
  <div class="col-md-4">{{ads.text}}</div>
 </div>
 <div class='row'>
  <div class='col-md-4'></div>
  <div class='col-md-4'><a ui-sref='signup'><button type='submit'>Done reading? Please cntinue with your life</button></a></div>
  <div class='col-md-4'></div>
 </div>
</div> 